@use "../custom/colors" as color;
@use "../custom/mixins" as mix;

.welcome {
  h3 {
    color: color.$gray;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
  }
  h2 {
    color: color.$white;
    font-size: 32px;
    font-weight: 500;
  }
  h1 {
    color: color.$white;
    font-size: 50px;
    font-weight: 800;
  }
  &__name {
    box-shadow: 0 12px 10px 0 rgba(0,0,0,0.11);
    background: linear-gradient(127deg, rgba(29,31,36,1) 27%, rgba(37,41,44,1) 100%);
    padding: 4px 8px;
    color: teal;
    transition: all .5s;
    border-radius: 5px;
    &:hover {
      color: #e9a112;
      box-shadow: 0 3px 20px 1px rgba(209, 113, 22, 0.5);
      transition: all .5s;
    }
  }
  &__social {
    h3 {
      letter-spacing: 0;
    }
    svg {
      padding: 14px;
      width: 60px;
      height: 60px;
    }
    &--github {
      svg {
        background: linear-gradient(127deg, rgba(29,31,36,1) 27%, rgba(37,41,44,1) 100%);
        fill: rgb(114, 67, 220);
        transition: all .6s;
        border-radius: 5px;
        box-shadow: 0 12px 10px 0 rgba(0,0,0,0.11);
        &:hover {
          box-shadow: 0 3px 20px 1px rgba(123,74,236,0.50);
          background: linear-gradient(137deg, rgba(38,30,216,1) 0%, rgba(123,74,236,1) 46%, rgba(134,28,164,1) 100%);
          animation: github-gradient .6s;
          transition: box-shadow .5s;
          fill: color.$white;
        }
      }
    }
    &--linkedin {
      svg {
        background: linear-gradient(127deg, rgba(29,31,36,1) 27%, rgba(37,41,44,1) 100%);
        fill: rgba(57,125,236,1);
        transition: all .6s;
        border-radius: 5px;
        box-shadow: 0 12px 10px 0 rgba(0,0,0,0.11);
        &:hover {
          box-shadow: 0 3px 20px 1px rgba(57,125,236,0.50);
          background: linear-gradient(127deg, rgba(57,125,236,1) 27%, rgba(12,47,146,1) 100%);
          animation: linkedin-gradient .6s;
          transition: box-shadow .5s;
          fill: color.$white;
        }
      }
    }
    &--reddit {
      svg {
        background: linear-gradient(127deg, rgba(29,31,36,1) 27%, rgba(37,41,44,1) 100%);
        fill: rgb(255, 101, 46);
        transition: all .6s;
        border-radius: 5px;
        box-shadow: 0 12px 10px 0 rgba(0,0,0,0.11);
        &:hover {
          box-shadow: 0 3px 20px 1px rgba(255, 162, 88, 0.3);
          background: linear-gradient(0deg, rgba(255,69,0,1) 0%, rgba(255,114,62,1) 100%);
          animation: reddit-gradient .6s;
          transition: box-shadow .5s;
          fill: color.$white;
        }
      }
    }
  }
}


.spinner {
  img {
    width: 100%;
    height: auto;
    animation: rotation 50s infinite linear;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes linkedin-gradient {
  0% {
    background: linear-gradient(127deg, rgba(57,125,236,1) 27%, rgba(12,47,146,1) 100%);
    fill: color.$white;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    background: linear-gradient(127deg, rgba(57,125,236,1) 27%, rgba(12,47,146,1) 100%);
    fill: color.$white;
  }
}

@keyframes github-gradient {
  0% {
    background: linear-gradient(137deg, rgba(38,30,216,1) 0%, rgba(123,74,236,1) 46%, rgba(134,28,164,1) 100%);
    fill: color.$white;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    background: linear-gradient(137deg, rgba(38,30,216,1) 0%, rgba(123,74,236,1) 46%, rgba(134,28,164,1) 100%);
    fill: color.$white;
  }
}

@keyframes reddit-gradient {
  0% {
    background: linear-gradient(0deg, rgba(255,69,0,1) 0%, rgba(255,114,62,1) 100%);
    fill: color.$white;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    background: linear-gradient(0deg, rgba(255,69,0,1) 0%, rgba(255,114,62,1) 100%);
    fill: color.$white;
  }
}

.social-button {
  padding: 0;
  background: transparent;
  @include mix.default-style;
}

.gradient-canvas {
  width: 500px;
  height: 500px;
  border-radius: 100%;
  position: absolute;
  z-index: -1;
  background: radial-gradient(circle, rgba(252, 17, 83, 0.5) 0%, rgba(33,36,40,1) 60%);
  box-shadow: 0 10px 24px 11px rgba(0, 0, 0, 0.2);
  animation: gradient-canvas-animation .6s;
  opacity: 1;
}

@keyframes gradient-canvas-animation {
  0% {
    background: radial-gradient(circle, rgba(252, 17, 83, 0.5) 0%, rgba(33,36,40,1) 0%);
    box-shadow: 0 10px 24px 11px rgba(0, 0, 0, 0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    background: radial-gradient(circle, rgba(252, 17, 83, 0.5) 0%, rgba(33,36,40,1) 60%);
    box-shadow: 0 10px 24px 11px rgba(0, 0, 0, 0.2);
  }
}
