@mixin default-style {
  background: rgb(29,31,36);
  background: linear-gradient(127deg, rgba(29,31,36,1) 27%, rgba(37,41,44,1) 100%);
  border-radius: 5px;
  border: 0;
  box-shadow: 0 12px 10px 0 rgba(0,0,0,0.11);
}